.repo/
autom4te.cache/
*~
aclocal.m4
config/config.guess
config/config.sub
config/compile
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
doc/html/
Debug/
configure
Makefile.in
*.obj
*.elf
*.hex
*.bin
*.exe
*.map
*.lss
*.o
*.a
*.d
*.bak
*.user
*.ncb
*.suo
*.dll
*.pdb
*.orig
.user
*.atsuo
Makefile.in
/bin/vc90_dll/conf/
/build
/lib
project/msvc9/DebugEP
.metadata/