/*!
 * \file esysbase/esysbaseexe.rc
 * \brief WIN32 resource file
 *
 * \cond
 * __legal_b__
 *
 * Copyright (c) 2020-2023 Michel Gillet
 * Distributed under the MIT License.
 * (See accompanying file LICENSE.txt or
 * copy at https://opensource.org/licenses/MIT)
 *
 * __legal_e__
 * \endcond
 *
 */

#include "../include/esysbaseexe/version.h"

esysbaseexe ICON "esysbaseexe.ico"

#ifdef WIN32
#include <windows.h>
#endif

#ifdef _MSC_VER
#define PRIVATEBUILD_T "Visual C++\000"
#elif __GNUC__
#define PRIVATEBUILD_T "GNU compiler\000"
#else
#define PRIVATEBUILD_T "\000"
#endif

1 VERSIONINFO
 FILEVERSION ESYSBASEEXE_MAJOR_VERSION,ESYSBASEEXE_MINOR_VERSION,ESYSBASEEXE_RELEASE_NUMBER,ESYSBASEEXE_BETA_NUMBER
 PRODUCTVERSION ESYSBASEEXE_MAJOR_VERSION,ESYSBASEEXE_MINOR_VERSION,ESYSBASEEXE_RELEASE_NUMBER,ESYSBASEEXE_BETA_NUMBER
 FILEFLAGSMASK 0x3fL
 FILEFLAGS VS_FF_PRERELEASE
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        // US English Ascii; see http://msdn.microsoft.com/library/psdk/winui/rc_3rxn.htm for codes
        //BLOCK "04090000"
	  /* Language type = U.S English(0x0409) and Character Set = Windows, Multilingual(0x04E4) */
	  BLOCK "040904E4"
        BEGIN
            VALUE "Comments", "esysbaseexe Library\000"
            VALUE "CompanyName", "HamletG\000"
            VALUE "FileDescription", "esysbaseexe for Windows\000"
            VALUE "FileVersion", "esysbaseexe " ESYSBASEEXE_VERSION_NUM_DOT_STRING "\000"
            VALUE "InternalName", "esysbaseexe\000"
            VALUE "LegalCopyright", "Copyright ￜ 2006 HamletG\000"
            VALUE "LegalTrademarks", "\000"
            VALUE "OriginalFilename", "esysbaseexe.exe\000"
            VALUE "PrivateBuild", PRIVATEBUILD_T
            VALUE "ProductName", "esysbaseexe\000"
            VALUE "ProductVersion", ESYSBASEEXE_VERSION_NUM_DOT_STRING "\000"
            VALUE "SpecialBuild", "\000"
        END
#ifdef _MSC_VER
        //US English Unicode; see http://msdn.microsoft.com/library/psdk/winui/rc_3rxn.htm for codes
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "esysbaseexe Library\000"
            VALUE "CompanyName", "HamletG\000"
            VALUE "FileDescription", "esysbaseexe for Windows\000"
            VALUE "FileVersion", "esysbaseexe " ESYSBASEEXE_VERSION_NUM_DOT_STRING "\000"
            VALUE "InternalName", "esysbaseexe\000"
            VALUE "LegalCopyright", "Copyright ￜ 2006 HamletG\000"
            VALUE "LegalTrademarks", "\000"
            VALUE "OriginalFilename", "esysbaseexe.exe\000"
            VALUE "PrivateBuild", PRIVATEBUILD_T
            VALUE "ProductName", "esysbaseexe\000"
            VALUE "ProductVersion", ESYSBASEEXE_VERSION_NUM_DOT_STRING "\000"
            VALUE "SpecialBuild", "\000"
        END
#endif
    END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04E4
  END

END
